& {
  overflow: hidden !important;

  .DMActivity {
    border-radius: 0px !important;
    height: 100vh !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  #dm_dialog-dialog.modal {
    width: 100% !important;
  }

  .DMConversation-scrollContainer {
    padding: 15px 5% !important;
  }

  .DirectMessage-message {
    max-width: 45% !important;
  }

  .DMConversation-content, .DMDialog.kms-fullscreen .DMComposer.tweet-form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}