/* Fav Star */

/*.HeartAnimation {
  background: none !important;
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/star.png') !important;
  background-size: 100% !important;
  left: 0 !important;
  top: -2px !important;
  height: 19px !important;
  width: 19px !important;
}


.ProfileTweet-action--favorite.withHeartIcon 
.ProfileTweet-actionButton:hover, 
.ProfileTweet-action--favorite.withHeartIcon 
.ProfileTweet-actionButton:focus, 
.ProfileTweet-action--favorite.withHeartIcon 
.ProfileTweet-actionCount:hover, 
.ProfileTweet-action--favorite.withHeartIcon 
.ProfileTweet-actionCount:focus, 
.favorited 
.ProfileTweet-action--favorite 
.Icon--heart, 
.favorited 
.ProfileTweet-action--favorite.withHeartIcon 
.ProfileTweet-actionButtonUndo {
  color: #ffac33 !important;

}